body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper-container{
  width:100%;
  overflow-x:hidden; 
}

.product-list-container{
max-width: 1140px;
}

.button-active{
  border: 1px solid brown;
  height:80px;
  width:100px;
}

.my-button{
  border:none;
    height:80px;
    width:100px;
}

.myImage{
  width: 100%;
  height: 60%;
  transform: translate(0px, -46px);
}

.icon{
  width:8%;
  height: 2%;
  fill:#c5e60fde;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 1% 2%;
  width: 100%;
  height: 10%;
  background-color: darkslateblue;
}

.carticon{
  width:15%;
  height:2%;
}

.logo-link{
  margin-right:0px;
}

#nav-id{
  background-color: white;
}

.Lucian-img{
  max-width: 36%;
  height: auto;
}
.nav-btn{
  border: none;
    background: none;
    color: #7d7dde;
    
}
.nav-btn.active{
    font-size: 20px;
  }
.nav-icons{
  display:flex;
  margin-top: 2rem;
  margin-right: 3rem;
}
.footerClass{
  z-index: 0;
}

/* .header{
  background-color: "#00BFFF";
  height:200;
}
.avatar{
  width: 130;
  height: 130;
  border-radius: 63;
  border-width: 4;
  border-color: "white";
  margin-bottom:10;
  align-self:'center';
  position: 'absolute';
  margin-top:130;
}
.name{
  font-size:22;
  color:"#FFFFFF";
  font-weight:'600';
}
.body{
  margin-top:40;
}
.bodyContent {
  flex: 1;
  align-items: 'center';
  padding:30;
}

.info{
  font-size:16;
  color: "#00BFFF";
  margin-top:10
}
.description{
  font-size:16;
  color: "#696969";
  margin-top:10;
  text-align: 'center';
}
.buttonContainer {
  margin-top:10;
  height:45;
  flex-direction: 'row';
  justify-content: 'center';
  margin-bottom:20;
  width:250;
  border-radius:30;
  background-color: "#00BFFF";
} */